@font-face {
    font-family: "Mona Sans";
    src: url(../assets/fonts/Mona_Sans/MonaSans-VariableFont_wdth\,wght.ttf);
}

h3 {
    font-size: 1.7rem;
}

h2 {
    font-size: 2.5rem;
}

h1 {
    font-size: 3rem;
}